package main

import (
	"context"
	"os"

	"github.com/jordanbrauer/hex"
	hexcli "github.com/jordanbrauer/hex/cli"
	hexlog "github.com/jordanbrauer/hex/log"

	"{{.ModulePath}}/cli"
	"{{.ModulePath}}/provider"
)

func main() {
	hexlog.Init()

	app := hex.New()

	if err := provider.Boot(app); err != nil {
		hexlog.Fatal("register providers", "error", err)
	}

	ctx := context.Background()

	if err := app.Bootstrap(ctx); err != nil {
		hexlog.Fatal("bootstrap", "error", err)
	}

	defer func() { _ = app.Shutdown(ctx) }()

	root := cli.Root(app)

	os.Exit(hexcli.Execute(root))
}
