package provider

import (
	logprovider "github.com/jordanbrauer/hex/log/provider"
)

// Log applies the log level (and optional caller/timestamp toggles)
// from config to hex/log. Customise the defaults here.
func Log() *logprovider.Provider {
	return &logprovider.Provider{
		Namespace: "log",
	}
}
